/* src/components/Header.css */
header {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo {
    width: 100px; /* Adjust the size of the logo */
    height: auto;
    border-radius: 50%;
  }

  nav {
    display: flex;
    align-items: end;
    flex-grow: 1;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 0px;
  }
  
  nav ul li {
    margin: 0 20px;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: #cfe2e3;
    font-weight: 400;
  }
  
  nav ul li a:hover {
    color: #7af8ec;
  }

  html {
    scroll-behavior: smooth;
  }

  div {
    scroll-margin-top: 75px; /* Adjust based on your header height */
  }